@model NDashboard.Models.IndexModel

@{
    ViewBag.Title = "Home Page";
}

<link rel="stylesheet" type="text/css" href="~/Content/Index.css" />


@using (Html.BeginForm())
{

   

<div id="content" style="margin-right: auto; margin-left: auto; width: 800px;">

    @Html.DevExpress().Button(settings =>
   {
       settings.Name = "NewReportButton";
       settings.RouteValues = new { Controller = "Designer", Action = "New" };
       settings.UseSubmitBehavior = true;

       settings.Text = "New";
       settings.ControlStyle.CssClass = "btn btn-default btn_designer";

   }).GetHtml()

    @Html.DevExpress().Button(settings =>
    {
        settings.Name = "EditReportButton";
        settings.RouteValues = new { Controller = "Designer", Action = "Design" };
        settings.UseSubmitBehavior = true;

        settings.Text = "Edit";
        settings.ControlStyle.CssClass = "btn btn-default btn_designer";

    }).GetHtml()

    @Html.DevExpress().Button(settings =>
    {
        settings.Name = "ViewReportButton";
        settings.RouteValues = new { Controller = "Designer", Action = "ViewExist" };
        settings.UseSubmitBehavior = true;

        settings.Text = "View";
        settings.ControlStyle.CssClass = "btn btn-default btn_designer";
        settings.Width = 100;
    }).GetHtml()

    @Html.DevExpress().Button(settings =>
       {
           settings.Name = "DeleteReportButton";
           settings.RouteValues = new { Controller = "Designer", Action = "Delete" };
           settings.UseSubmitBehavior = true;

           settings.Text = "Delete";
           settings.ControlStyle.CssClass = "btn btn-danger btn_designer";
           settings.Width = 100;
       }).GetHtml()

    @Html.DevExpress().ListBoxFor(x => x.SelectedReportUrl, settings =>
    {
        settings.Name = "Url";

        settings.Properties.TextField = "Url";
        settings.Properties.ValueField = "Url";
        settings.Properties.ValueType = typeof(string);

        settings.ControlStyle.CssClass = "reports ";
        settings.Width = System.Web.UI.WebControls.Unit.Percentage(70); ;

    }).BindList(Model.Reports).GetHtml()

</div>

}



